*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}
:root {

    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);
}
.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%);
}
h1{
    color: var(--pl-white);
    opacity: 0.75;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
}
.password-display{
    display: flex;
    justify-content:space-between;
    background-color: var(--dk-violet);
    border-radius:1rem ;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    width: 90%;
    max-width: 450px;
    position: relative;
}
.password {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border:none;
}
.password::placeholder {
    position:absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height:30px;
    color:var(--vb-yellow);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}
.password-display button {
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);
}
.copy-msg{
    display: none;
}
.hidden{
    display:none;
}
.button-copy{
    background-color: var(--dk-violet);
    border: none;
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%)
}
.copy{
    height: 23px;
    width: 23px;
    background-color: transparent;
}
.rules{
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--dk-violet);
    color: var(--pl-white);
    padding: 2rem;
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.header h3{
    color: var(--pl-white);
    font-size: 1.5rem;
}
.header p{
    color: var(--vb-yellow);
    font-size: 1.5rem;
}
.slider{
    background-color: var(--lt-violet);
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-repeat: no-repeat;
    border:none;
    outline:none;
}
.slider::-webkit-slider-thumb{
  appearance: none;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--vb-yellow);
  cursor: pointer;
  margin-top: -3px;
  box-shadow: 0px 0px 20px 0px rgba(255,229,61,0.50);
  transition: all 10ms ease-in;
  position: relative;
  z-index: 1;
}
ul{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}
li{
    display: flex;
    text-transform: capitalize;
    gap: 10px;
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}
.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}
.checkbox:checked{
    background-color: var(--vb-cyan);
}
.checkbox:checked::before{   /*since there's no element inside checkbox,it doesn't matter whether we use vefore or after*/
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size:1.05rem;
    font-weight: 600;
    left:50%;
    top:-3.5px;
    transform: translateX(-50%)  translateY(40%);
}
.strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}
.strength h3{
    color:var(--pl-white);
    font-size: 1.5rem;
}
.color{
    background-color: var(--color);
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    box-shadow:5px 5px 5px var(--color);
}
.generateButton {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
}






